* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.clock-background {
  background: linear-gradient(to bottom,
      orange, gold, orange, gold, #1A1110);
  z-index: -11;
  padding: 18px;
  border-radius: 50%;
  box-shadow: 0px 25px 50px dimgray;
}

#sf-company{
  position: absolute;
  top: 100px;
  left: 110px;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 8px;
  padding: 3px;
  border: 2px solid darkred;
  transform: rotate(180deg);
}



#clock-container {
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 50%;
  position: relative;
  z-index: -10;
  transform: rotate(180deg);
}

#hours{
  content: "";
  height: 6px;
  width: 80px;
  background: black;
  position: absolute;
  left: 70px;
  top: 145px;
  z-index: 1;
transform-origin: top right;
transition-timing-function: linear;

}

#minutes{
  content: "";
  height: 5px;
  width: 100px;
  background: orange;
  position: absolute;
  left: 54px;
  top: 150px;
  z-index: 0;
transform-origin: top right;
transition-timing-function: linear;
}

#second{
  height: 2px;
  width: 113px;
  background-color: darkred;
  position: absolute;
  left: 37px;
  top: 150px;
 transform-origin: top right;
 transition-timing-function: linear;
}






.number {
  position: absolute;
  font-size: 2rem;
  font-weight: bolder;

}

.num1 {
  top: 5px;
  left: 138px;
  color: darkred;
  transform: rotate(180deg);
}

.num2 {

  right: 8px;
  top: 130px;
  color: darkblue;
  transform: rotate(180deg);
}

.num3 {
  bottom: 8px;
  left: 135px;
  color: darkred;
  transform: rotate(180deg);
}

.num4 {
  top: 130px;
  left: 8px;
  color: darkblue;
  transform: rotate(180deg);
}

.dot {
  height: 15px;
  width: 15px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 140px;
  left: 143px;
  z-index: 1;
  background-color: darkred;
  border: 3px solid black;
}

.line1 {
  position: absolute;
  right: 75px;
  top: 25px;
  font-weight: bolder;
  transform: rotate(40deg);
  font-size: 30px;

}

.line2 {
  position: absolute;
  right: 32px;
  top: 75px;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(55deg);
  color: firebrick;
}

.line3 {
  position: absolute;
  right: 32px;
  bottom: 75px;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(-55deg);
  color: red;
}

.line4 {
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(-40deg);
  color: seagreen;
}

.line5 {
  position: absolute;
  left: 75px;
  top: 25px;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(-40deg);
  color: seagreen;
}

.line6 {
  position: absolute;
  left: 32px;
  top: 75px;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(-55deg);
  color: red;
}

.line7 {
  position: absolute;
  left: 32px;
  bottom: 75px;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(55deg);
  color: firebrick;
}

.line8 {
  position: absolute;
  left: 75px;
  bottom: 25px;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(40deg);

}